body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.target {
  margin-top: 100px;
}

#temp {
  font-weight: 100;
  font-size: 100px;
}

#desc {
  font-weight: 300;
  font-size: 50px;
}

.weather-out {
  border: 1px solid black;
}
