<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Weather Project</title>

  <!--Material Stuff-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  <script src="{{url_for('static', filename='js/client.js')}}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

</head>
<body>
  <div class="container">

    <!-- User Input -->
    <div class="container center-align">
      <h1>weather</h1>
      <form class="center-align valign" method="POST">
        <input id="city" type="text" name="city" placeholder="Enter City">
        <input id="go" type="submit" value="Send">
      </form>
    </div>
  </div>
</body>
</html>
